<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-12 order-history-header">
      <h3>Ihre Bestellhistorie</h3>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <tbody>
      <tr>
        <th>
          <img class="img-fluid" style="max-height: 200px" src="../../assets/books/node_book-big.jpeg">
        </th>
        <td>
          <div class="row">
            <h4>Node.js – Rezepte und Lösungen</h4>
          </div>
          <div class="row">
            <p>Philip Ackermann</p>
          </div>
          <div class="row">
            <p>ISBN: xxxxxxxxxxxxxxxxxxx</p>
          </div>
        </td>
        <td>
          <div class="row">
            <p>Anzahl: 1</p>
          </div>
        </td>
        <td>
          <div class="row">
            <p style="font-weight: bold">49,90</p>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <img class="img-fluid" style="max-height: 200px" src="../../assets/books/node_book-big.jpeg">
        </th>
        <td>
          <div class="row">
            <h4>Node.js – Rezepte und Lösungen</h4>
          </div>
          <div class="row">
            <p>Philip Ackermann</p>
          </div>
          <div class="row">
            <p>ISBN: xxxxxxxxxxxxxxxxxxx</p>
          </div>
        </td>
        <td>
          <div class="row">
            <p>Anzahl: 1</p>
          </div>
        </td>
        <td>
          <div class="row">
            <p style="font-weight: bold">49,90</p>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <img class="img-fluid" style="max-height: 200px" src="../../assets/books/node_book-big.jpeg">
        </th>
        <td>
          <div class="row">
            <h4>Node.js – Rezepte und Lösungen</h4>
          </div>
          <div class="row">
            <p>Philip Ackermann</p>
          </div>
          <div class="row">
            <p>ISBN: xxxxxxxxxxxxxxxxxxx</p>
          </div>
        </td>
        <td>
          <div class="row">
            <p>Anzahl: 1</p>
          </div>
        </td>
        <td>
          <div class="row">
            <p style="font-weight: bold">49,90</p>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
