<div class="container">
  <div class="row">
    <div class="col-12 product-list-header">
      <h3>Kategorie: Romane</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 product-list-sort">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Sortieren nach
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Titel</a></li>
          <li><a class="dropdown-item" href="#">Preis</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <tbody>
      <tr>
        <th scope="row">
          <img class="img-fluid" style="max-height: 200px" src="../../assets/books/node_book-big.jpeg">
        </th>
        <td colspan="2">
          <div class="row">
            <h4>Node.js – Rezepte und Lösungen</h4>
          </div>
          <div class="row">
            <p>Philip Ackermann</p>
          </div>
        </td>
        <td>
          <div class="row">
            <p>49,90</p>
          </div>
        </td>
        <td>
          <div class="row">
            <a href="#">Details</a>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <img class="img-fluid" style="max-height: 200px" src="../../assets/books/node_book-big.jpeg">
        </th>
        <td colspan="2">
          <div class="row">
            <h4>Node.js – Rezepte und Lösungen</h4>
          </div>
          <div class="row">
            <p>Philip Ackermann</p>
          </div>
        </td>
        <td>
          <div class="row">
            <p>49,90</p>
          </div>
        </td>
        <td>
          <div class="row">
            <a href="#">Details</a>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <img class="img-fluid" style="max-height: 200px" src="../../assets/books/node_book-big.jpeg">
        </th>
        <td colspan="2">
          <div class="row">
            <h4>Node.js – Rezepte und Lösungen</h4>
          </div>
          <div class="row">
            <p>Philip Ackermann</p>
          </div>
        </td>
        <td>
          <div class="row">
            <p>49,90</p>
          </div>
        </td>
        <td>
          <div class="row">
            <a href="#">Details</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
