<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="row login-register-header">
        <h3>Anmelden</h3>
      </div>
      <div class="row login-register-form">
        <form>
          <div class="mb-3">
            <label for="loginEmail" class="form-label">E-Mail-Adresse</label>
            <input type="text" class="form-control" id="loginEmail">
          </div>
          <div class="mb-3">
            <label for="loginPassword" class="form-label">Passwort</label>
            <input type="password" class="form-control" id="loginPassword">
          </div>
          <div class="login-register-buttons">
            <button type="button" class="btn btn-secondary">Zurücksetzen</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">Anmelden</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-6">
      <div class="row login-register-header">
        <h3>Registrieren</h3>
      </div>
      <div class="row login-register-form">
        <form>
          <div class="mb-3">
            <label for="firstName" class="form-label">Vorname</label>
            <input type="text" class="form-control" id="firstName">
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Nachname</label>
            <input type="text" class="form-control" id="lastName">
          </div>
          <div class="mb-3">
            <div class="col">
              <label class="form-label">Strasse und Nr.</label>
              <div class="input-group">
                <input type="text" class="form-control " id="street">
                <input type="text" class="form-control" id="streetNumber">
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="col">
              <label class="form-label">PLZ und Ort</label>
              <div class="input-group">
                <input type="text" class="form-control " id="zipCode">
                <input type="text" class="form-control" id="town">
              </div>
            </div>
          </div>
          <br/><br/>
          <div class="mb-3">
            <label for="registerEmail" class="form-label">E-Mail-Adresse</label>
            <input type="text" class="form-control" id="registerEmail">
          </div>
          <div class="mb-3">
            <label for="registerPassword" class="form-label">Passwort</label>
            <input type="password" class="form-control" id="registerPassword">
          </div>
          <div class="mb-3">
            <label for="registerPasswordRepeat" class="form-label">Passwort wiederholen</label>
            <input type="password" class="form-control" id="registerPasswordRepeat">
          </div>
          <div class="login-register-buttons">
            <button type="button" class="btn btn-secondary">Zurücksetzen</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">Registrieren</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
